*{
    margin:0;
    padding:0;
}
:root{
    --height-of-header:auto;
}
body > .container{
    display: grid;
    grid-template-rows:auto calc(100vh - 45px);
    background-color: #2d2d2d ;
    font-family: 'Kdam Thmor Pro', sans-serif;
    position: relative;
}
.header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    padding-top: 10px;

}

.icon img{
    height: min(60px,10vw + 16px ,10vh + 16px);
    filter:invert(92%) sepia(6%) saturate(63%) hue-rotate(175deg) brightness(106%) contrast(99%);
}
.icon:last-of-type{
    justify-self: end;
}
.main{
    position: relative;
}


.nav{
    position:absolute;
    visibility: hidden;
    transform: translateX(-320px); 
  transition: transform 0.3s ease-out, visibility 1s;
  font-size: clamp(1.3rem,1vw + 16px ,2rem);

}
.nav.active{
    background-color: white;
    display: grid;
    height: 100vh;
    width:min(768px , 100%);
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
    padding-top:min(3vw , 24px);
    justify-items: center;
    top:0;
    left: 0;
    gap:15px;
    visibility: visible;
    z-index: 5;
    transform: translateX(0px); 
    transition: transform 0.3s ease-out, visibility 0s;
}
.nav-el + .hidden{
    display: none;
}
.nav-el + .active{
    display:block;
    width:100%;
}
.nav-background{
    
    
    position: absolute;
    visibility: hidden;
    
}
.nav-background.active{
    visibility: visible;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(10,10,10,0.5);
    top:0;
    left:0;
}
form{
    display: flex;
    justify-content: center;
    
}
form .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    width: min(80%,400px);
    gap:15px;
    
}


.inputs{
    position: relative;

   

}

.inputs > label{
    position: absolute;
    top:calc(0.8vw + 3px);
    left:5px;
    transition: all 0.2s ease-in-out;
    font-size: 1.1rem;
    
}
label.not-empty{
    top:-15px;
    font-size: 0.8rem;
}
 .inputs > input:focus ~ label{
    top:-15px;
    font-size: 0.8rem;
}
.inputs > input{
    height: 1.5rem;
    width: 100%;
    
}


.switch-container{
    display: flex;
    font-size: 1.4rem;
    gap:10px;
    align-items: center;
    
}
.switch{
    height: 35px;
    position: relative;
    
}
input[type=checkbox]{
appearance: none;
height: 34px;
    width: 72px;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;

}


input[type=checkbox] + span[class^=slider]{
    height: 34px;
    width: 60px;
    position: absolute;
    background-color: #ccc;
    top:0;
    left:0;
    z-index: -1;
}
input[type=checkbox]:checked + span[class^=slider]{
    background-color: #2d2d2d ;
  }
  span[class^=slider]::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round::before{
    border-radius: 50%;
  }
.round{
    border-radius: 34px;
}

.btn{
    border:none;
    background-color: #2d2d2d;
    color:white;
    padding:clamp(12px,2vw,18px);
    font-size: min(1.8rem,1vw + 12px,1vh + 12px);
    font-family: 'Kdam Thmor Pro', sans-serif;

}
.remove-btn{
    background-color:#C41E3A;
    border-radius: 10px;
    padding: clamp(8px,1.5vw,15px);
    font-size: min(1.4rem,1vw + 8px,1vh + 8px);
}
.edit-btn{
    background-color: #8B8000;
    border-radius: 10px;
    padding: clamp(8px,1.5vw,15px);
    font-size: min(1.4rem,1vw + 8px,1vh + 8px);
}
.btn-container{
    display: flex;
    justify-content: space-between;
}
.sm-text{
    font-size: 12px;
    text-align: center;
}
.red{
    color:#C41E3A;
}
.green{
    color:green;
}




.cards{
display: grid;
grid-template-columns: repeat(auto-fit , minmax(250px,300px));
gap:10px;
justify-content: center;
padding: 20px;
}

.init{
    text-align: center;
    color:#ccc;
    font-size: 1.5rem;
    position: relative;
}
.card{
    background-color: #ccc;
    border-radius: 15px;
    padding: 10px;
    
    
}


input:valid{
    border-color:green;
}
input:invalid{
    border-color:red;
}